/**
*
* Header
*
**/

.header-main {
  height: 3.8rem;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  @include breakpoint(md) {
    border-bottom: solid 1px $grey-200;
    background-color: $button_background;
  }

  // Front Page Header Tweaks
  > .path-frontpage & {
    border: none;
    background: none;
    transition: all .5s ease-in-out;
    .menu li a {
      color: $grey-600;
    }
  }
  &.sticky {
    background: rgba($white, 0.9);
    box-shadow: 0 2px 5px rgba($black, 0.25);
    .menu li a {
      color: $grey-500;
    }
  }
}

.logo, .region-nav, .region-search {
    display: block;
    float: left;
    margin-left: 1rem;
}
.region-search {
  position: relative;
  bottom: 4px;
}

.logo {
  display: none;
  @include breakpoint(md) {
    display: block;
    float: left;
    width: 20px;
    height: 26px;
  }
}

.logo.logo-svg {
  transition: all .3s;
  //g#Icon circle {
  //  stroke: $blue;
  //}
  &:hover g#Icon circle {
    stroke: $red;
  }
}

.header-main .menu,
.header-main #search-block-form {
  display: none;
  @include breakpoint(md) {
    display: block;
    margin: 3px 0 0 0;
    float: right;
    bottom: 10px;
    position: relative;
  }
}
#block-pellucid-monoset-main-menu {
  position: relative;
  bottom: -10px;
}
.header-main #search-block-form input[type="search"],
.form-type-search input[type="search"] {
  appearance: none;
  font-family: $fontInput;
  font-size: 1rem;
  color: $grey-600;
  border-radius: 10px;
  height: 32px;
  max-width:100%;
  width:10rem;
}
.search-page-form .form-type-search input[type="search"] {
  width:40rem;
}
div.offcanvas.pushy.pushy-left div.region-search {
  margin-top: 1rem;
  margin-left: 2rem;
}

.header-main .menu li {
  display: inline;
  margin: 0  1.5rem 0 0;
  &:last-child {
    margin: 0;
  }
  a {
    display: inline-block;
    @include font-size(14px);
    font-weight: $medium;
    text-transform: uppercase;
    color: $grey-900;
    &:hover {
      color: $blue;
    }
  }

}
