/**
*
* Layout
*
**/

.contain {
  @include clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint(md) {
    width: 80%;
    padding: 0;
  }

  @include breakpoint(lg) {
    width: 70%;
  }
}

.content {
  padding: 2rem 1rem;
  min-height: 670px;
  @include breakpoint(md) {
    padding: 4rem 0 2rem 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }
}

.region-content-top {
  margin: 0 0 2rem 0;
}

.region-content {
  margin: 0 0 2rem 0;
  min-height: 150px;
  @include breakpoint(md) {
    min-height: 300px;
  }

}

.region-content-bottom {
  padding: 3rem 0;
  border-top: 1px solid $grey-200;
}

/**
* Responsive tables.
*/
.view-id-councillors table {
    width:100%;
}
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) {
  th.priority-low,
  td.priority-low {
    display: none;
  }
}
