/**
 * @file
 * Visual styles for fields.
 */

.field__label {
  font-weight: 400;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /*LTR*/
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  padding-left: 0.5em;
  padding-right: 0;
}

.field--label-inline .field__label::after {
  content: ':';
}

.view-id-councillors {
  table {
    margin-top: 1.5rem;
    border: none;
  }
  th {
    background-color: $grey-200;
  }
  td {
    background-color: $grey-100;
  }
  td, th {
    border: none;
    font-size: 75%;
    font-weight: 200;
  }
  th:nth-child(1) {
    width:15%;
  }
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5) {
    width: 7%;
  }
  th:nth-child(6),
  th:nth-child(7) {
    width: 20%;
  }

  td.views-field-user-picture {
      display: block;
      a {
        max-width: 85px;
        padding: 5px;
        margin: 0 auto;
        display: block;
        img {
          border-radius: 10px;
        }
      }
    }
  }
.view-supporting-documents {
  @include breakpoint(md) {
    th:nth-child(1) {
      width: 40%;
    }
    th:nth-child(2) {
      width: 27%;
    }
    th:nth-child(3) {
      width: 13%;
    }
    th:nth-child(4) {
      width: 20%;
    }
  }
}
@media (prefers-color-scheme: dark) {

  article.node--type-page,
  article.node--type-meeting,
  body.node--type-article p,
  body.node--type-article .field,
  // article.node--type-article.node--view-mode-teaser div.node__content,
  div.view-taxonomy-term article.node--type-article.node--view-mode-teaser div.node__content,
  article.node--type-document,
  article.node--type-agenda,
  article.node--type-minutes,
  article.node--type-village-plan-page,
  article.node--type-history-society-event {
    background-color: $grey-900;
    color: $grey-50;
  }
  .view-supporting-documents {
      table, thead, th, tr, td {
          background-color: $grey-900;
          color: $grey-50;
      }
}

}
