/**
 * @file
 * Visual styles for fields.
 */

.field__label {
  font-weight: 400;
}
.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /*LTR*/
}
.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  padding-left: 0.5em;
  padding-right: 0;
}
.field--label-inline .field__label::after {
  content: ':';
}

.view-id-councillors {
  table {
    margin-top:1.5rem;
    border:none;
  }
  td, th {
    border:none;
  }
  th:nth-child(2), th:nth-child(3),
  td:nth-child(2), td:nth-child(3) {
    text-align: center;
  }
  td:nth-child(4), td:nth-child(5) {
    font-size: 80%;
  }
  td.is-active, td:first-child {
    background-color: $grey-100;
  }
  td.views-field-user-picture {
    a {
      max-width: 85px;
      padding: 5px;
      margin: 0 auto;
      display: block;
    }
    //img {
    //  border:solid 1px $grey-300;
    //}
  }
}
