.view-taxonomy-term {
  .node--view-mode-teaser {
    h2 {
      border-top: solid 1px $grey-400;
    }
    h2:first-child {
      border-top:0;
    }
    .field__label,
    .field__items {
      float: none;
    }
  }
  article.node--type-document .field--name-field-uploaded-files {
    border-top: 0;
  }
}
.view-id-expense_items {
  margin: 0 auto;
  max-width: 700px;
}
a.tabledrag-handle div.handle {
  height: auto;
  width: auto;
}