.front, .source, .featured {
  .contain {
    max-width: 1000px;
  }
  .cta-button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 12px 8px 25px;
    border: 1px solid $red;
    border-radius: 10px;
    background: $button_background;
    color: $black;
    font-weight: $light;
    text-shadow: none;
    font-family: $fontDefault;
//     @include breakpoint(md) {
//       border: solid $black 1px;
//     }

    &:hover {
      background: $grey-400;
    }
  }
  .arrow {
    margin: -14px 0 -11px -4px;
    width: 32px;
    height: 32px;
    fill: $red;
    display: inline-block;
    animation: pulsate 2s linear infinite;
    opacity: 1;
  }
  .next-section {
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto;
  }
}
