.front, .source, .featured {
  .contain {
    max-width: 1000px;
  }
  .cta-button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 12px 8px 25px;
    border-radius: 40px;
    background: rgba($black, 0.175);
    color: $black;
    font-weight: $light;
    //letter-spacing: 1px;
    font-family: $fontDefault;
    @include breakpoint(md) {
      border: 2px solid $grey-400;
      background: none;
    }

    &:hover {
      background: rgba($black, 0.25);
    }
  }
  .arrow {
    margin: -14px 0 -11px -4px;
    width: 32px;
    height: 32px;
    fill: $red;
    display: inline-block;
    animation: pulsate 2s linear infinite;
    opacity: 1;
  }
  .next-section {
    padding: 1rem 0;
    text-align: center;
  }
}
