/**
 * @file
 * Visual styles for Bartik's node component.
 */

.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}

/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.node--view-mode-teaser h2 a {
  color: #181818;
}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}

/* Node metadata styles. */
.node__meta {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.node__meta .field--name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}
[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: right; /* LTR */
  font-size: 0.93em;
}
[dir="rtl"] .node__links {
  text-align: left;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}
.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
.node--type-photo-gallery {

  //#block-pellucid-monoset-page-title {
  .region-content-top,
  h1 {
    display: none;
  }
  .container-main {
    margin-top: -1rem;
    @include breakpoint(md) {
    }
  }
  .content {
    padding: 0 1rem 2rem 1rem;
    @include breakpoint(md) {
      padding: 4rem 0 2rem 0;
    }
  }
  .region-content {
    margin:0;
  }
}
article.node--type-meeting,
article.node--type-document,
article.node--type-agenda,
article.node--type-minutes {
  font-weight: $normal;

  p {
    margin: 0 0 0.25rem 0;
  }
  strong {
    font-weight: $medium;
  }
  h1, h2, h3, h4 {
    font-weight: $light;
  }
  ul {
    list-style-type: circle;
  }
  .field__item,
  .node__meta {
    padding-bottom: 0.25rem;
  }
  li {
    padding: 0 0 0.25rem 0;
  }
}
body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes,
body.path-taxonomy {
  .content {
    min-height:0;
  }
}

body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes {
  h1, h1.page-title,
  .taxonomy-term > h2 {
    margin: 0 0 0 0;
    font-weight: $light;
  }
  .taxonomy-term {
    font-weight: $normal;
  }
  .taxonomy-term .content {
    padding:0;
  }
}
article.node--type-meeting {
  .field--name-field-meeting-date,
  .field--name-field-meeting-date > .field__label {
    @include font-size(40px);
    line-height: 0.9;
    font-weight: $light;
  }
  article.node--type-agenda {
    &::before {
      content: 'Agenda:';
      @include font-size(40px);
      line-height: 0.9;
      font-weight: $light;
      padding: 0.25rem 0;
      display: block;
    }
    & > h2 {
      display: none;
    }
  }
}


@media print {
  @page {
    size: A4;
    @top-left {
      content: "Top left";
    }
    @top-right {
      content: "Page " counter(page);
    }
  }
  .container-main {
    font-size: 10px;
    color: black;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:$normal;
    h1.page-title, h2,
    .field--name-field-meeting-date,
    .field--name-field-meeting-date > .field__label {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: $medium;
      font-size: 16px;
      & > a {
        color: black;
        font-weight: $medium;
      }
    }

  }
  body.node--type-meeting {
    .container-main {
      border: $red solid 4px;
    }

    article.node--type-meeting {
      .field--name-field-meeting-date,
      .field--name-field-meeting-date > .field__label {
        font-size: 16px;
        font-weight: $medium;
      }
    }
    #block-pellucid-monoset-page-title > h1 {
      text-align: center;
      & > span {
        font-size: 20px;
        font-weight: $bold;
      }
    }

  }
  .header-main,
  .offcanvas,
  .footer-main,
  .node__meta,
  .field--name-field-agenda-meeting,
  .field--name-field-agenda-status,
  .block-local-tasks-block,
  .messages {
    display: none;
  }
}