/**
 * @file
 * Visual styles for Bartik's node component.
 */

.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}

/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

//.node--view-mode-teaser h2 a {
//  color: #181818;
//}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}

.view-header p {
  padding: 1rem 0;
  //margin:1.5rem 0;
}

.view-footer p {
  margin-top: 2rem;
  padding-top: 1.5rem;
  //margin:1.5rem 0;
  font-size: 80%;
}

/* Node metadata styles. */
.node__meta {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}

.node__meta .field--name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}

[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: right; /* LTR */
  font-size: 0.93em;
}

[dir="rtl"] .node__links {
  text-align: left;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}

.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

.node--type-photo-gallery {

  //#block-pellucid-monoset-page-title {
  .region-content-top,
  h1 {
    display: none;
  }
  .container-main {
    margin-top: -1rem;
    @include breakpoint(md) {
    }
  }
  .content {
    padding: 0 1rem 2rem 1rem;
    @include breakpoint(md) {
      padding: 4rem 0 2rem 0;
    }
  }
  .region-content {
    margin: 0;
  }
}

article.node--type-page,
article.node--type-meeting,
article.node--type-document,
article.node--type-agenda,
article.node--type-minutes {
  font-weight: $normal;
  color: $grey-600;
  //p {
  //  margin: 0 0 0.25rem 0;
  //}
  strong {
    font-weight: $medium;
  }
  h1, h2, h3, h4 {
    font-weight: $light;
  }
  ul {
    list-style-type: circle;
  }
  .field__item,
  .node__meta {
    padding-bottom: 0.25rem;
  }
  li {
    padding: 0 0 0.25rem 0;
  }
}

body.node--type-page,
body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes,
body.path-taxonomy {
  .content {
    min-height: 0;
    margin-top: 5rem;
    //padding:0;
  }
  .taxonomy-term .content {
    margin-top: 1rem;
  }
}

body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes,
body.path-taxonomy {
  h1, h1.page-title,
  .taxonomy-term > h2 {
    margin: 0 0 0 0;
    //font-weight: $light;
  }
  .taxonomy-term {
    font-weight: $normal;
  }
  .taxonomy-term .content {
    padding: 0;
  }
}

article.node--type-meeting {
  .field--name-field-meeting-date,
  .field--name-field-meeting-date > .field__label, h2 {
    @include font-size(24px);
    line-height: 0.9;
    font-weight: $light;
  }
}

// Printing style
@media print {
  @page {
    size: A4;
    margin: 10mm;
    padding: 0;
    //@top-left {
    //  display: none;
    //}
    //@top-right {
    //  display: none;
    //}
  }

  body.node--type-meeting {
    margin: 0;
    padding: 0;
    border: 0;
    .container-main {
      border: $red solid 4pt;
      padding: 0 5pt;
      margin: 0;
      height: auto;
      font-size: 9pt;
      color: black;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: $normal;
      .page-content {
        //position: relative;
        margin-top: -72pt;

        h1 > span, h2 > a > div,
        .field--name-field-meeting-date,
        .field--name-field-meeting-date > .field__label {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16pt;
          color: black;
        }
        h1 > span {
          font-size: 18pt;
          font-weight: $normal;
        }
        h2 > a > div {
          font-weight: $medium;
          font-size: 16pt;
        }
      }
    }

    p, ol li, ul li {
      padding: 0;
      margin: 0;
    }
    article.node--type-agenda {
      &::before {
        content: 'Agenda:';
        font-weight: $medium;
        font-size: 16pt;
      }
      & > h2 {
        display: none;
      }
    }
  }
  //  body.node--type-meeting

  .header-main,
  .offcanvas,
  .footer-main,
  .node__meta,
  .field--name-field-agenda-meeting,
  .field--name-field-agenda-status,
  .block-local-tasks-block,
  .region.region-content-bottom,
  .messages {
    margin: 0;
    padding: 0;
    height: 0;
    display: none;
  }
}