.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}

/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

//.node--view-mode-teaser h2 a {
//  color: #181818;
//}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}

.view-header p {
  padding: 0.25rem 0;
}

.view-footer p {
  margin-top: 2rem;
  padding-top: 1.5rem;
  //margin:1.5rem 0;
  font-size: 80%;
}

/* Node metadata styles. */
.node__meta {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}

.node__meta .field--name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}

[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: right; /* LTR */
  font-size: 0.93em;
}

[dir="rtl"] .node__links {
  text-align: left;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}

.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

.node--type-photo-gallery {
  .region-content-top,
  h1 {
    display: none;
  }
  .container-main {
    margin-top: -1rem;
  }
  .content {
    padding: 0;
    @include breakpoint(md) {
      padding: 4rem 0 0 0;
    }
  }
  .region-content {
    margin: 0;
  }
}

article.node--type-page,
article.node--type-meeting,
article.node--type-document,
article.node--type-agenda,
article.node--type-minutes,
article.node--type-village-plan-page,
article.node--type-history-society-event {
  font-weight: $light;
  color: $grey-700;
  //p {
  //  margin: 0 0 0.25rem 0;
  //}
  strong {
    font-weight: $medium;
  }
  h1, h2, h3, h4 {
    font-weight: $light;
  }
  ul {
    list-style-type: circle;
  }
  .field__item,
  .node__meta {
    padding-bottom: 0.25rem;
  }
  .field--name-field-meeting-minutes,
  & > h2 {
    border-top: solid 1px $grey-400;
    padding-top: 0.5rem;
  }
}

body.node--type-page,
body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes,
body.path-taxonomy {
  .content {
    min-height: 0;
    @include breakpoint(md) {
      margin-top: 2rem;
    }
  }
  .taxonomy-term .content {
    margin-top: 1rem;
  }
}

body.node--type-meeting,
body.node--type-agenda,
body.node--type-document,
body.node--type-minutes,
body.path-taxonomy {
  .container-main {
    max-width: 90%;
    padding-left: 1rem;
  }
  h1, h1.page-title,
  .taxonomy-term > h2 {
    margin: 0 0 0 0;
    //font-weight: $light;
  }
  .taxonomy-term {
    font-weight: $normal;
  }
  .taxonomy-term .content {
    padding: 0;
  }
}

article.node--type-meeting {
  .field--name-field-meeting-date,
  .field--name-field-meeting-date > .field__label,
  h2 {
    @include font-size(20px);
    line-height: 1;
    font-weight: $normal;
    @include breakpoint(md) {
      @include font-size(24px);
      line-height: 1.25;
      font-weight: $light;
    }
  }
}

article.node--type-document {
  .field--name-field-uploaded-files,
  .field--name-field-document-type {
    border-top: solid 1px $grey-400;
    padding-top: 0.5rem;
  }
}

article.node--type-history-society-event {
  .node__content img {
    width: 50%;
    min-width: 340px;
    float: left;
    margin-left: 0;
    margin-right: 1em;
  }
}

// ************** //////////////////////
// Printing style //////////////////////
// ************** //////////////////////
@media print {
  @page {
    size: A4;
    margin: 1cm;
    padding: 0;
    border: 0;
  }

  body.node--type-meeting,
  body.node--type-agenda,
  body.node--type-minutes {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    .container-main {
      // padding: 5pt;
      margin: 0;
      height: auto;
      font-size: 9pt;
      line-height: 13pt;
      color: black;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      .page-content {
        // margin-top: -66pt;
        h1, h1 > span {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14pt;
          line-height: 16pt;
          color: black;
          font-weight: normal;
          text-align: center;
          padding-bottom: 0.5cm;
        }
        h2 > a > span,
        h2 > a > div,
        .field--name-field-meeting-date,
        .field--name-field-meeting-date .field__item,
        .field--name-field-meeting-date .field__label {
          font-size: 12pt;
          line-height: 14pt;
          color: black;
          font-family: Helvetica, Arial, sans-serif;
          font-weight: normal;
          text-align: center;
        }
        .field--name-field-meeting-date .field__item,
        .field--name-field-meeting-date .field__label {
          display: block;
          float: left;
        }
        h2 > a > div {
          display: block;
          float: left;
        }
      }
    }

    p, ol li, ul li {
      padding: 0;
      margin: 0;
    }
    strong {
      font-weight: bold;
    }
  }

  body.node--type-minutes {
    .page-content, .container-main {
      display: block;
      border: 0;
      // padding: 0 5pt 10pt 5pt;
      margin: 0;
    }
  }

  body.node--type-meeting {

    #block-pellucid-monoset-page-title .field--name-title::after {
      display: block;
      margin: 0 auto;
      text-align: center;
      content: 'The press and public are welcome.';
      font-size: 9pt;
      line-height: 11pt;
    }
    .page-content {
      border: $red solid 4pt;
      padding-top: 0.5cm;
      padding-right: 0.5cm;
      padding-bottom: 0.25cm;
      padding-left:  0.5cm;
      margin: 0;
    }

    article.node--type-agenda {
      display: block;
      float: none;
      clear: both;
      &::before {
        content: 'Agenda:';
        font-weight: normal;
        font-size: 9pt;
        line-height: 11pt;
        display: block;
        float: none;
        width: 100%;
      }
      & > h2 { // Agenda title hidden
        display: none;
      }
      & > h2::after {
        display: block;
        content: ' ';
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
      }
      .node__content {
        max-width: 100%;
        display: block;
        float: none;
        margin: 0 auto;
        &::before {
          display: table-cell;
          content: ' ';
          height: 0;
          font-size: 0;
          clear: both;
          visibility: hidden;
        }
      }
    }
  }

  .header-main,
  .offcanvas,
  .footer-main,
  .node__meta,
  .field--name-field-agenda-meeting,
  .field--name-field-agenda-status,
  .block-local-tasks-block,
  .region.region-content-bottom,
  .messages {
    margin: 0;
    padding: 0;
    height: 0;
    display: none;
  }
}
.view-village-plan-index  h3 > a {
  color: $grey-900;
}

.view-upcoming-events .more-link {
  font-weight: $medium;
}

.field--name-field-image > img {
  display: block;
  margin: 0  auto 2rem auto;
}
.node--type-village-plan-page figure,
.node--type-article figure {
  &.align-left {
    margin-right: 1rem
  }
  &.align-right {
    margin-left: 1rem
  }
  & > figcaption {
    font-size: 70%;
    text-align: center;
  }
}
.node--type-article .field--name-field-news-teaser {
  font-style: italic;
  border: 1px solid #eeeeee;
  @include font-size(16px);
  line-height: 20px;
  padding: 2rem;
  background-color: #F5F5F5;
  margin: 2rem;
}
