/**
 * @file
 * The visual styles for Bartik's search form(s).
 */

//.search-form {
//  font-size: 0.875rem;
//}
.search-form .form-search {
  //float: left; /* LTR */
  margin-right: 5px; /* LTR */
  padding: 4px;
}
.search-block-form {
  margin-left: 1em;
  padding: 1rem;
  @include breakpoint(md) {
    margin-left: 0;
    padding: 0;
  }
}
.button.search-form__submit,
.search-form__submit {
  display: inline;
  background: url(../icons/loupe.svg) no-repeat center;
  cursor: pointer;
  height: 26px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  direction: ltr;
  width: 34px;
  min-width: 34px;
  border: none;
}
.button.search-form__submit:hover,
.search-form__submit:hover,
.button.search-form__submit:focus,
.search-form__submit:focus {
  //background: url(../loupe2.svg) no-repeat center;
  background: url(../icons/loupe2.svg) no-repeat center;
}
.search-form .form-item-keys label {
  display: block;
}