/**
 * @file
 * The visual styles based loosely on Bartik's search form(s).
 */

// The search results page
.path-search {
  h3 {
    font-size: 1.25rem;
    @include breakpoint(md) {
      font-size: 1.5rem;
    }
  }
  ol {
    padding-left: 0;
  }
  .item-list li {
    margin: 0 0 0.25rem 0.25rem;
  }
  .item-list .search-result__snippet-info {
    max-width: 95%;
  }
  .region-content {
    margin: 0;
  }
}

.search-form .form-search {
  margin-right: 5px;
  padding: 4px;
  max-width:100%;
  width:10rem;
  @include breakpoint(md) {
    width:40rem;
  }
}
.search-block-form {
  margin-left: 1em;
  padding: 1rem;
  @include breakpoint(md) {
    margin-left: 0;
    padding: 0;
  }
}
#block-pellucid-monoset-search > div {
  display: block;
  float: left;
  height: 30px;
  .form-item-keys {
    float: left;
    height:30px;
    margin: 10px 1px;
  }
  .form-wrapper {
    display: block;
    float: left;
    .button.search-form__submit,
    .search-form__submit {
      display: block;
      background: url(../icons/loupe.svg) no-repeat center;
      cursor: pointer;
      height: 30px;
      margin: 12px 0 0 0;
      overflow: hidden;
      padding: 0;
      text-indent: -9999px;
      direction: ltr;
      width: 34px;
      min-width: 34px;
      border: none;
    }
    .button.search-form__submit:hover,
    .search-form__submit:hover,
    .button.search-form__submit:focus,
    .search-form__submit:focus {
      background: url(../icons/loupe2.svg) no-repeat center;
    }
  }
  .search-form .form-item-keys label {
    display: block;
  }
}

  @media (prefers-color-scheme: dark) {
    // html.no-touchevents.details.js body.path-node.node--type-page div.dialog-off-canvas-main-canvas header.header-main
    div.contain div.region.region-search div#block-pellucid-monoset-search.search-block-form.block.block-search.container-inline div form#search-block-form div#edit-actions.form-actions.js-form-wrapper.form-wrapper input#edit-submit.search-form__submit.button.js-form-submit.form-submit {
      background-color: $grey-200;
      border-radius: 10px;
    }
  }
