/**
 * @file
 * The visual styles for Bartik's search form(s).
 */

//.search-form {
//  font-size: 0.875rem;
//}
.search-form .form-search {
  //float: left; /* LTR */
  margin-right: 5px; /* LTR */
  padding: 4px;
  max-width:100%;
  width:10rem;
  @include breakpoint(md) {
    width:40rem;
  }
}
         .search-block-form {
  margin-left: 1em;
  padding: 1rem;
  @include breakpoint(md) {
    margin-left: 0;
    padding: 0;
  }
}
#block-pellucid-monoset-search > div {
  display: block;
  float: left;
  height: 30px;
  .form-item-keys {
    float: left;
    height:30px;
  }
  .form-wrapper {
    display: block;
    float: left;
    .button.search-form__submit,
    .search-form__submit {
      display: block;
      background: url(../icons/loupe.svg) no-repeat center;
      cursor: pointer;
      height: 30px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      text-indent: -9999px;
      direction: ltr;
      width: 34px;
      min-width: 34px;
      border: none;
    }
    .button.search-form__submit:hover,
    .search-form__submit:hover,
    .button.search-form__submit:focus,
    .search-form__submit:focus {
      background: url(../icons/loupe2.svg) no-repeat center;
    }
  }
.search-form .form-item-keys label {
  display: block;
}
}
